<app-mobile-navbar *ngIf="isMobile" id="navbar"></app-mobile-navbar>
<app-navbar *ngIf="!isMobile" id="navbar"></app-navbar>

<main>
  <div id="academy-intro" class="container__academy-intro">
    <h1 class="title">Guides</h1>
    <p class="subtitle">Habibi write something here pwease!</p>
  </div>

  <div class="academy">
    <a routerLink="/guide" class="link">
      <div class="container__guide">
        <div class="container__guide-img">
          <img
            src="/assets/guide-placeholder.png"
            alt="Title of the post."
            class="guide-img"
          />
        </div>
        <div class="container__guide-content">
          <h2 class="guide-title">Name of guide</h2>
          <p class="guide-description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
            asperiores assumenda quibusdam, exercitationem!
          </p>
        </div>
      </div>
    </a>

    <a routerLink="/guide" class="link">
      <div class="container__guide">
        <div class="container__guide-img">
          <img
            src="/assets/guide-placeholder.png"
            alt="Title of the post."
            class="guide-img"
          />
        </div>
        <div class="container__guide-content">
          <h2 class="guide-title">Name of guide</h2>
          <p class="guide-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure
            accusantium minima ea?
          </p>
        </div>
      </div>
    </a>

    <a routerLink="/guide" class="link">
      <div class="container__guide">
        <div class="container__guide-img">
          <img
            src="/assets/guide-placeholder.png"
            alt="Title of the post."
            class="guide-img"
          />
        </div>
        <div class="container__guide-content">
          <h2 class="guide-title">Name of guide</h2>
          <p class="guide-description">
            Lorem ipsum dolor sit amet consectetur porro neque vel optio
            pariatur ipsa eaque.
          </p>
        </div>
      </div>
    </a>
  </div>

  <div class="back-to-top">
    <a href="/academy#academy-intro">Back to the top</a>
  </div>
</main>

<app-footer id="footer"></app-footer>
