@use "../../abstracts" as *

footer
    text-align: center
    background-color: $lmfy-gray
    padding: rem(40) rem(10) rem(10)
.footer-title
    color: $lmfy-darkgray
.footer__right
    margin-bottom: rem(10)
.socials a
    display: inline-block
    margin: rem(6)
.socials
    font-size: 0
    margin-top: rem(20)
.social
    width: 50px
.green
    background-color: $lmfy-lightgreen
    border: 2px solid $lmfy-darkgreen
    border-radius: 6px
.purple
    background-color: $lmfy-lightpurple
    border: 2px solid $lmfy-darkpurple
    border-radius: 6px
.orange
    background-color: $lmfy-lightorange
    border: 2px solid $lmfy-darkorange
    border-radius: 6px
.blue
    background-color: $lmfy-lightblue
    border: 2px solid $lmfy-darkblue
    border-radius: 6px
.yellow
    background-color: $lmfy-lightyellow
    border: 2px solid $lmfy-darkyellow
    border-radius: 6px
.green, .purple, .orange, .blue, .yellow
    padding: rem(8)

.page-links
    font-size: rem(16)
    margin-top: rem(20)
.copyright
    margin-top: rem(20)
    p
        font-size: rem(12)
        color: $lmfy-lightgray
.page-link
    text-decoration: underline wavy
    text-underline-offset: rem(3)
    text-decoration-thickness: rem(1.25)
    color: $lmfy-lightgray

@media screen and (min-width: 768px)
    .container__footer-content
        @include flex-space-between
        padding: rem(10)
        margin: 0 auto
        max-width: 1100px
    .footer__right, .footer__left
        @include flex-space-between
        flex-direction: column
    .socials a
        margin: rem(8)
    .social
        width: 60px
    .green, .purple, .orange, .blue, .yellow
        padding: rem(10)
