<footer>
  <div class="footer__left">
    <div>
      <h2 class="footer-title">Join the community.</h2>
    </div>
    <div class="socials">
      <a href="https://www.linkedin.com"
        ><img src="/assets/linkedin.png" alt="LinkedIn logo." class="social"
      /></a>
      <a href="https://www.instagram.com/fredrikridderfalk"
        ><img src="/assets/instagram.png" alt="Instagram logo." class="social"
      /></a>
      <a href="https://www.youtube.com/channel/UCtk89EOqgG5JL2aaJGLBOBQ"
        ><img src="/assets/youtube.png" alt="YouTube logo." class="social"
      /></a>
      <a href="https://twitter.com"
        ><img src="/assets/twitter.png" alt="Twitter logo." class="social"
      /></a>
      <a href="https://www.facebook.com"
        ><img src="/assets/facebook.png" alt="Facebook logo." class="social"
      /></a>
      <a href="https://www.pinterest.com"
        ><img src="/assets/pinterest.png" alt="Pinterest logo." class="social"
      /></a>
    </div>
  </div>

  <div class="footer__right">
    <div>
      <ul class="page-links">
        <li class="page-link">Privacy Policy</li>
        <li class="page-link">Advertise</li>
        <li class="page-link">Support us💜</li>
      </ul>
    </div>
    <div class="copyright">
      <p>Made with love by © 2022 Ridderfalk Consulting LLC</p>
    </div>
  </div>
</footer>
