<footer>
  <div class="footer__left">
    <div>
      <h2 class="footer-title">Join the community.</h2>
    </div>
    <div class="socials">
      <a href="#"><span class="material-symbols-outlined">book</span></a>
      <a href="#"><span class="material-symbols-outlined">book</span></a>
      <a href="#"><span class="material-symbols-outlined">book</span></a>
      <a href="#"><span class="material-symbols-outlined">book</span></a>
      <a href="#"><span class="material-symbols-outlined">book</span></a>
    </div>
  </div>

  <div class="footer__right">
    <div>
      <ul class="page-links">
        <li class="page-link">Privacy Policy</li>
        <li class="page-link">Advertise</li>
        <li class="page-link">Support us💜</li>
      </ul>
    </div>
    <div>
      <p>Made with love by © 2022 Ridderfalk Consulting LLC</p>
    </div>
  </div>
</footer>
