@use "../../abstracts" as *

footer
    text-align: center
    background-color: $lmfy-gray
    padding: rem(40) rem(10) rem(10)
.footer-title
    color: $lmfy-darkgray
.container__footer-content
    height: 150px
.socials a
    display: inline-block
    margin: rem(8)
.socials
    font-size: 0
.social
    width: 60px
.green
    background-color: $lmfy-lightgreen
    border: 2px solid $lmfy-darkgreen
    border-radius: 6px
    padding: rem(10)
.purple
    background-color: $lmfy-lightpurple
    border: 2px solid $lmfy-darkpurple
    border-radius: 6px
    padding: rem(10)
.orange
    background-color: $lmfy-lightorange
    border: 2px solid $lmfy-darkorange
    border-radius: 6px
    padding: rem(10)
.blue
    background-color: $lmfy-lightblue
    border: 2px solid $lmfy-darkblue
    border-radius: 6px
    padding: rem(10)
.yellow
    background-color: $lmfy-lightyellow
    border: 2px solid $lmfy-darkyellow
    border-radius: 6px
    padding: rem(10)
.page-links
    font-size: rem(16)
.copyright
    margin-top: rem(20)
    p
        font-size: rem(12)
        color: $lmfy-lightgray
.page-link
    text-decoration: underline wavy
    text-underline-offset: rem(3)
    text-decoration-thickness: rem(1.25)
    color: $lmfy-lightgray

@media screen and (min-width: 768px)
    .container__footer-content
        @include flex-space-between
        padding: rem(10)
        margin: 0 auto
        max-width: 1100px
    .footer__right, .footer__left
        @include flex-space-between
        flex-direction: column
