<nav class="container__navigation">
  <div class="container__navbar-content">
    <div class="container__logo">
      <a routerLink="/">
        <img class="logo" src="/assets/logo.png" alt="Let Me Feed You Logo" />
      </a>
    </div>

    <div class="container__nav-links">
      <ul class="nav-links">
        <li class="container__link">
          <a routerLink="/recipes" class="link">{{ navLinks.recipes }}</a>
        </li>
        <li class="container__link">
          <a routerLink="/academy" class="link">{{ navLinks.academy }}</a>
        </li>
        <li class="container__link">
          <a routerLink="/stories" class="link">{{ navLinks.stories }}</a>
        </li>
      </ul>
    </div>

    <div class="container__notifications">
      <span class="material-symbols-outlined">notifications</span>
    </div>
  </div>
</nav>
