@use "../../abstracts" as *

.container__navigation
    @include flex-space-between
    align-items: center
    background-color: $primary-beige
.nav-links
    display: flex
.link, .container__logo, .container__darkmode
    padding-inline: rem(50)
.logo
    width: 40px
