@use "../../abstracts" as *

.container__navigation
    background-color: $lmfy-gray-transparent
    backdrop-filter: blur(3px)
    padding-block: rem(20)
.container__navbar-content
    @include flex-space-between
    align-items: center
    max-width: 1400px
    margin-inline: auto
.nav-links
    display: flex
.link
    color: $lmfy-darkgray
    font-size: rem(24)
    font-weight: 500
    // text-decoration: underline wavy
    // text-decoration-thickness: rem(1.5)
    // text-underline-offset: rem(6)
    padding: rem(3)
.container__link, .container__logo
    padding-inline: rem(30)
.logo
    width: 60px
.material-symbols-outlined
    font-size: rem(35)
    color: $lmfy-darkgray

// Media queries
@media screen and (min-width: 768px)
    .container__navbar-content
        max-width: 1120px

// User theme toggle
.user-theme__icon
    padding: rem(8)
    color: $lmfy-black

.container__user-theme
    cursor: pointer
    background-color: inherit
    width: 50px
    height: 50px
    margin-right: rem(22)
    border-radius: 6px
    &:hover
        background-color: $lmfy-hover-bg
        border-radius: 6px
