// LMFY Brand Colors
$lmfy-black: #333
$lmfy-dark: #444
$lmfy-white: #fafafa
$lmfy-gray: #eeeeee
$lmfy-gray-transparent: rgba(238, 238, 238, 0.2)
$lmfy-beige: #feebe4
$lmfy-lightblue: #E7FBFF
$lmfy-darkblue: #5488D7
$lmfy-lightorange: #FFF2F2
$lmfy-darkorange: #FFA1A1
$lmfy-lightyellow: #FFFFE7
$lmfy-darkyellow: #FFD9A0
$lmfy-lightpurple: #F4E7FF
$lmfy-lightpurple-hover: #f7f1fd
$lmfy-darkpurple: #B36DEA
$lmfy-lightgreen: #E8FFED
$lmfy-darkgreen: #71C8A9
$lmfy-lightgray: #667080
$lmfy-darkgray: #40506A
$lmfy-hover-bg: #ebebeb
$lmfy-hover-bg-dark: #595959
$lmfy-dark-mode-flex: #d1dbff

//     :root {
//   --primary-bg: #fff
//   --hover-bg: #ebebeb
//   --text-color: #333
// }

// [data-theme="dark"] {
//   --primary-bg: #333
//   --hover-bg: #595959
//   --text-color: #fff
// }
