// LMFY Brand Colors
$lmfy-black: #333
$lmfy-white: #fafafa
$lmfy-beige: #feebe4
$lmfy-lightblue: #E7FBFF
$lmfy-darkblue: #5488D7
$lmfy-lightorange: #FFF2F2
$lmfy-darkorange: #FFA1A1
$lmfy-lightyellow: #FFFFE7
$lmfy-darkyellow: #FFD9A0
$lmfy-lightpurple: #F4E7FF
$lmfy-darkpurple: #B36DEA
$lmfy-lightgreen: #E8FFED
$lmfy-darkgreen: #71C8A9
$lmfy-lightgray: #667080
$lmfy-darkgray: #40506A
