// Flexbox
@mixin flex-container
    display: flex
    justify-content: center
    align-items: center

// Media Queries
@mixin tablet
    @media screen and (max-width: 768)

@mixin desktop
    @media screen and (max-width: 1366)

// Shadows
@mixin box-shadow
    box-shadow: 3px 3px 10px #acaa8b, 1px 1px 6px #686752
