<div class="container">
  <input id="toggle" type="checkbox" />
  <label class="toggle-container" for="toggle">
    <span class="button button-toggle"></span>
  </label>

  <nav class="container__nav-links">
    <a routerLink="/recipes" class="nav-link">Recipes</a>
    <a routerLink="/academy" class="nav-link">Academy</a>
    <a routerLink="/stories" class="nav-link">Stories</a>
  </nav>

  <div class="container__logo">
    <a routerLink="/">
      <img
        src="/assets/logo.png"
        alt="Logo of the letters L, M, F, and Y."
        class="logo"
      />
    </a>
  </div>
</div>
