<app-mobile-navbar *ngIf="isMobile" id="navbar"></app-mobile-navbar>
<app-navbar *ngIf="!isMobile" id="navbar"></app-navbar>

<main>
  <!-- Hero section -->
  <section class="hero-section">
    <div class="container__hero-text">
      <h1 class="title">let me feed you.</h1>
      <p class="subtitle">
        Scrumptious plant-based food for home cooking adventures.
      </p>
    </div>
    <img
      *ngIf="isMobile"
      src="/assets/hero-mobile.png"
      alt="A Japanese kitchen."
      class="hero-img"
    />
    <img
      *ngIf="!isMobile"
      src="/assets/hero.jpg"
      alt="A Japanese kitchen."
      class="hero-img"
    />
  </section>

  <!-- Recipe section -->
  <section class="recipes-section">
    <h2 class="recipes-title">the best recipes.</h2>
    <p class="recipes-subtitle">The most delish foods ever gets a ⭐️.</p>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>fast food ramen. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>spring rolls. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>crack noodles. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>burgers. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>tomato soup. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>okonomiyaki. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>lettuce cups. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>caribbean patés. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>garlic bread. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/ramen.png"
          alt="A bowl of ramen, illustration."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <h3>silsi pasta. ⭐️</h3>
        <p>
          These garlic noodles are so incredibly quick, easy, and tasty,
          combining a few Western and Asian ingredients to make one very
          flavorful bowl of deliciousness.
        </p>
      </div>
    </article>

    <h4 class="more-recipes">
      <a routerLink="/recipes">see all goldstar recipes.</a>
    </h4>
  </section>

  <!-- Explore section -->
  <section class="explore-section">
    <h2 class="explore-title">explore plant food.</h2>
    <p>
      <a routerLink="/recipes" class="explore__link">Our recipes</a> are for you
      to make something simple yet incredibly tasty for yourself. You'll get
      lots of substitution suggestions. Inside
      <a routerLink="/academy" class="explore__link">the academy</a> there are
      lots of basic guides for home cooking. We have a lot to say about onions.
      And if you are curious you can
      <a routerLink="/stories" class="explore__link">read stories</a> about all
      the super exciting plant-based food things that are happening in the world
      right now.
    </p>
  </section>
</main>

<app-footer id="footer"></app-footer>
