<app-mobile-navbar *ngIf="isMobile" id="navbar"></app-mobile-navbar>
<app-navbar *ngIf="!isMobile" id="navbar"></app-navbar>

<main>
  <section class="hero-section">
    <div class="container__hero-text">
      <h1 class="title">Let Me Feed You</h1>
      <p class="subtitle">Scrumptious Food for the Plant-Based Foodie</p>
    </div>
    <img
      *ngIf="isMobile"
      src="/assets/hero-mobile.png"
      alt="A Japanese kitchen."
      class="hero-img"
    />
    <img
      *ngIf="!isMobile"
      src="/assets/hero.jpg"
      alt="A Japanese kitchen."
      class="hero-img"
    />
  </section>

  <section class="recipe-section">
    <h2>Hall of Fame Recipes.</h2>
    <p>An elite ten recipes gets a habibi star.</p>
    <article class="container__elite-recipe">
      <div class="container__recipe-img">
        <img
          src="/assets/bean-burgers.jpeg"
          alt="An elite dish."
          class="recipe-img"
        />
      </div>
      <div class="recipe-description">
        <p>Bean and mushroom patties in divine burgers.</p>
      </div>
    </article>
    <article class="container__elite-recipe">2⭐️</article>
    <article class="container__elite-recipe">3⭐️</article>
    <article class="container__elite-recipe">4⭐️</article>
    <article class="container__elite-recipe">5⭐️</article>
    <article class="container__elite-recipe">6⭐️</article>
    <article class="container__elite-recipe">7⭐️</article>
    <article class="container__elite-recipe">8⭐️</article>
    <article class="container__elite-recipe">9⭐️</article>
    <article class="container__elite-recipe">10⭐️</article>
  </section>
</main>

<app-footer id="footer"></app-footer>
