@use "../../abstracts" as *

.hero-section
    position: relative
    .container__hero-text
        padding: rem(10)
        position: absolute
        width: 320px
        .title
            font-size: rem(60)
        .subtitle
            font-size: rem(16)
    .hero-img
        display: block
        width: 100%

// Recipes section
.recipe-section
    padding: rem(20)
.container__elite-recipe
    margin-top: rem(40)
.recipe-img
    display: block
    width: 100%

@media screen and (min-width: 768px)
    .container__elite-recipe
        display: flex

@media screen and (min-width: 1366px)

// Explore section
.explore-section
    padding: rem(20)
    .explore__link
        color: $lmfy-darkblue
        font-weight: 500

@media screen and (min-width: 768px)

@media screen and (min-width: 1366px)
