<app-mobile-navbar *ngIf="isMobile" id="navbar"></app-mobile-navbar>
<app-navbar *ngIf="!isMobile" id="navbar"></app-navbar>

<main>
  <section class="hero-section">
    <div class="container__hero-text">
      <h1 class="title">Let Me Feed You</h1>
      <p class="subtitle">Scrumptious Food for the Plant-Based Foodie</p>
    </div>
    <img
      *ngIf="isMobile"
      src="/assets/hero-mobile.png"
      alt="A Japanese kitchen."
      class="hero-img"
    />
    <img
      *ngIf="!isMobile"
      src="/assets/hero.jpg"
      alt="A Japanese kitchen."
      class="hero-img"
    />
  </section>
</main>

<app-footer id="footer"></app-footer>
