@use "../../abstracts" as *

// General
main
    margin-block: rem(30)
h2
    font-size: rem(30)
.container__recipe-intro__text, .container__ingredients-flex, .container__instructions, .container__notes
    padding-inline: rem(20)

// Recipe intro
.title
    font-size: rem(40)
.subtitle
    margin-top: rem(10)

// Recipe image
.container__recipe-img
    margin-top: rem(20)
.recipe-img
    display: block
    width: 100%

// Ingredients-flex
.ingredients__title, .flex__title
    margin-top: rem(20)
.ingredient-list
    padding-left: 32px
.ingredient
    list-style-type: katakana-iroha

// Instructions
.container__instructions
    margin-top: rem(20)

// Notes
.container__notes
    margin-top: rem(20)

// Media queries
@media screen and (min-width: 768px)
    // General
    main
        padding-inline: rem(30)
        margin-inline: auto
        max-width: 900px
    .container__ingredients-flex, .container__instructions, .container__notes
        padding-inline: 0
    .container__recipe-intro
        display: flex
        flex-direction: row-reverse
        justify-content: flex-end
        width: 100%
    .container__recipe-img
        object-fit: fill
        margin-top: 0
    .recipe-img
        width: 100%
        object-fit: fill
    .container__recipe-intro__text
        width: 100%

    // Ingredients-flex
    .container__ingredients-flex
        display: flex
        border: 1px solid magenta
        &::before
            content: ""
            bottom: 0
            left: 0
            position: absolute
            width: 200px
            height: 20px
            color: magenta
            background-color: green
    .container__ingredients, .container__flex
        width: 50%

@media screen and (min-width: 1366px)
    .recipe-img
        width: 500px
