@use "../../abstracts" as *

.recipe-img
    width: 100%

@media screen and (min-width: 768px)
    .recipe-img
        width: 400px

@media screen and (min-width: 1366px)
    .recipe-img
        width: 500px
