<app-mobile-navbar *ngIf="isMobile" id="navbar"></app-mobile-navbar>
<app-navbar *ngIf="!isMobile" id="navbar"></app-navbar>

<main>
  <div class="container__recipe-intro">
    <div class="container__text-tags">
      <div class="container__recipe-intro__text">
        <h1 class="large-title">Recipe</h1>
        <h2 class="title">{{ CrackNoodles.name.toLowerCase() }}.</h2>
        <p class="subtitle">{{ CrackNoodles.description }}</p>
      </div>
      <div class="container__tags">
        <app-quick *ngIf="CrackNoodles.tags.quick"></app-quick>
        <app-easy *ngIf="CrackNoodles.tags.easy"></app-easy>
        <app-temperature
          *ngIf="CrackNoodles.tags.temperature.value"
        ></app-temperature>
        <app-wash *ngIf="CrackNoodles.tags.lesswash"></app-wash>
        <app-cheap *ngIf="CrackNoodles.tags.cheap"></app-cheap>
      </div>
    </div>

    <div class="container__recipe-img">
      <img
        src="{{ getImageUrl() }}"
        alt="{{ CrackNoodles.name }}."
        class="recipe-img"
      />
    </div>
  </div>

  <div class="container__ingredients-flex">
    <div class="container__ingredients">
      <h2 class="ingredients__title">ingredients.</h2>
      <ul class="ingredient-list">
        <li
          *ngFor="let ingredient of CrackNoodles.ingredients"
          class="ingredient"
        >
          {{ ingredient.name }}, {{ ingredient.amount }} {{ ingredient.unit }}
        </li>
      </ul>
    </div>

    <div class="container__flex">
      <h2 class="flex__title">
        flex. <span class="material-symbols-outlined">help</span>
      </h2>
      <ul class="flex-list">
        <li *ngFor="let flexItem of CrackNoodles.flex" class="flex-item">
          <strong>{{ flexItem.ingredient }}</strong>
          {{ flexItem.substitutes }}
        </li>
      </ul>
    </div>
  </div>

  <div class="container__instructions">
    <h2 class="instructions__title">instructions.</h2>
    <ul class="instructions">
      <li *ngFor="let step of CrackNoodles.instructions" class="instruction">
        {{ step }}
      </li>
    </ul>
  </div>

  <div class="container__notes">
    <h2 class="notes__title">notes.</h2>
    <p class="notes__text">{{ CrackNoodles.notes }}</p>
  </div>
</main>

<app-footer id="footer"></app-footer>
