@use "../../abstracts" as *

// General
main
    margin-block: rem(30)
h2
    font-size: rem(30)
.container__recipe-intro, .container__ingredients-flex, .container__instructions, .container__notes
    padding-inline: rem(20)

// Recipe intro
.title
    font-size: rem(40)
.subtitle
    margin-top: rem(10)

// Recipe image
.container__recipe-img
    margin-top: rem(20)
// Ingredients-flex
.container__ingredients-flex
.ingredients__title, .flex__title
    margin-top: rem(20)

// Instructions
.container__instructions
    margin-top: rem(20)
.instructions__title
    // margin-top: rem(20)

// Notes
.container__notes
    margin-top: rem(20)

.recipe-img
    width: 100%

@media screen and (min-width: 768px)
    .recipe-img
        width: 400px

@media screen and (min-width: 1366px)
    .recipe-img
        width: 500px
