@use "../../abstracts" as *

main
    max-width: 1360px
    margin-inline: auto
.container__recipes-intro
    padding: rem(20)
.title, .subtitle, .recipe-title
    color: $lmfy-lightgray
.title
    font-size: rem(50)
    line-height: 1.25
    margin-top: rem(20)
.subtitle
    font-size: rem(20)
    margin-top: rem(20)
.container__filter-buttons
    padding: rem(20)
    button
        background-color: $lmfy-white
        border: 2px solid $lmfy-black
        border-radius: 6px
        color: $lmfy-darkgray
        padding: rem(8) rem(16)
        font-size: rem(20)
        font-weight: 500
        margin-right: rem(10)
        min-width: 130px
        cursor: pointer
        &:hover:not(.active)
            background-color: $lmfy-lightpurple-hover
.container__filter-buttons .active
    background-color: $lmfy-lightpurple

// Recipe cards
.container__recipe
    width: 100%
    min-height: 200px
    display: flex
    margin-block: rem(60)
    position: relative
.recipe-img
    display: block
    width: 150px
    height: 100%
    object-fit: cover
.recipe-title
    margin: rem(10)
.container__small-tags
    margin: rem(10)
.small-tag
    display: inline-block
    padding: rem(4) rem(8)
    margin: rem(10) rem(10) 0 0
    border-radius: 6px
.quick
    background-color: $lmfy-lightgreen
    border: 2px solid $lmfy-darkgreen
.easy
    background-color: $lmfy-lightpurple
    border: 2px solid $lmfy-darkpurple
.temperature
    background-color: $lmfy-lightorange
    border: 2px solid $lmfy-darkorange
.lesswash
    background-color: $lmfy-lightblue
    border: 2px solid $lmfy-darkblue
.cheap
    background-color: $lmfy-lightyellow
    border: 2px solid $lmfy-darkyellow
.back-to-top
    width: fit-content
    text-decoration: underline wavy
    text-underline-offset: rem(3)
    margin-block: rem(30)
    margin-inline: auto

// Media queries
@media screen and (max-width: 767px)
    .container__recipe::before
        content: ""
        bottom: rem(-30)
        left: 50%
        transform: translateX(-50%)
        position: absolute
        width: 50%
        height: 2px
        background-color: rgba(0, 0, 0, 0.15)
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25)
@media screen and (min-width: 768px)
    .recipes
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        padding-inline: rem(10)
    .link
        margin-inline: rem(10)
    .container__recipe
        border: 2px solid $lmfy-darkgray
        max-width: 400px
        margin-inline: auto
        margin-block: rem(20)
@media screen and (min-width: 900px)
    .container__recipe
        width: 400px
