<app-mobile-navbar *ngIf="isMobile" id="navbar"></app-mobile-navbar>
<app-navbar *ngIf="!isMobile" id="navbar"></app-navbar>

<main>
  <div class="container__recipes-intro">
    <h1 class="title">Recipes</h1>
    <p class="subtitle">Habibi write something here pwease!</p>
  </div>
  <div class="recipes">
    <a routerLink="/recipe" class="link">
      <div class="container__recipe">
        <div class="container__recipe-img">
          <img
            src="{{ getImageUrl() }}"
            alt="{{ CrackNoodles.name }}."
            class="recipe-img"
          />
        </div>
        <div class="container__recipe-content">
          <h2 class="recipe-title">{{ CrackNoodles.name }}</h2>
          <div class="container__small-tags">
            <div *ngIf="CrackNoodles.tags.quick" class="small-tag quick">
              <span>Quick</span>
            </div>
            <div *ngIf="CrackNoodles.tags.easy" class="small-tag easy">
              <span>Easy</span>
            </div>
            <div
              *ngIf="CrackNoodles.tags.temperature"
              class="small-tag temperature"
            >
              <span>Temperature</span>
            </div>
            <div *ngIf="CrackNoodles.tags.lesswash" class="small-tag lesswash">
              <span>Less wash</span>
            </div>
            <div *ngIf="CrackNoodles.tags.cheap" class="small-tag cheap">
              <span>Cheap</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</main>

<app-footer id="footer"></app-footer>
