<app-mobile-navbar *ngIf="isMobile" id="navbar"></app-mobile-navbar>
<app-navbar *ngIf="!isMobile" id="navbar"></app-navbar>

<main>
  <div id="recipes-intro" class="container__recipes-intro">
    <h1 class="title">Recipes</h1>
    <p class="subtitle">Habibi write something here pwease!</p>
  </div>

  <div class="container__filter-buttons">
    <button id="foods-btn" class="foods-button active">Foods</button>
    <button id="drinks-btn" class="drinks-button">Drinks</button>
    <button id="desserts-btn" class="desserts-button">Desserts</button>
  </div>

  <div class="recipes">
    <!-- Foods -->
    <ng-container
      *ngFor="let food of AllRecipes.foods"
      class="container__foods"
    >
      <a routerLink="{{ getRecipeEndpoint(food.name) }}" class="link">
        <div class="container__recipe">
          <div class="container__recipe-img">
            <img
              src="{{ getImageUrl(food) }}"
              alt="{{ food.name }}."
              class="recipe-img"
            />
          </div>
          <div class="container__recipe-content">
            <h2 class="recipe-title">
              {{ food.name }}<span *ngIf="food.star"> ⭐️</span>
            </h2>
            <div class="container__small-tags">
              <div *ngIf="food.tags.quick" class="small-tag quick">
                <span>Quick</span>
              </div>
              <div *ngIf="food.tags.easy" class="small-tag easy">
                <span>Easy</span>
              </div>
              <div
                *ngIf="food.tags.temperature.value"
                class="small-tag temperature"
              >
                <span>Temperature</span>
              </div>
              <div *ngIf="food.tags.lesswash" class="small-tag lesswash">
                <span>Less wash</span>
              </div>
              <div *ngIf="food.tags.cheap" class="small-tag cheap">
                <span>Cheap</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </ng-container>

    <!-- Drinks -->
    <ng-container
      *ngFor="let drink of AllRecipes.drinks"
      class="container__drinks"
    >
      <a routerLink="{{ getRecipeEndpoint(drink.name) }}" class="link">
        <div class="container__recipe">
          <div class="container__recipe-img">
            <img
              src="{{ getImageUrl(drink) }}"
              alt="{{ drink.name }}."
              class="recipe-img"
            />
          </div>
          <div class="container__recipe-content">
            <h2 class="recipe-title">
              {{ drink.name }}<span *ngIf="drink.star"> ⭐️</span>
            </h2>
            <div class="container__small-tags">
              <div *ngIf="drink.tags.quick" class="small-tag quick">
                <span>Quick</span>
              </div>
              <div *ngIf="drink.tags.easy" class="small-tag easy">
                <span>Easy</span>
              </div>
              <div
                *ngIf="drink.tags.temperature.value"
                class="small-tag temperature"
              >
                <span>Temperature</span>
              </div>
              <div *ngIf="drink.tags.lesswash" class="small-tag lesswash">
                <span>Less wash</span>
              </div>
              <div *ngIf="drink.tags.cheap" class="small-tag cheap">
                <span>Cheap</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </ng-container>

    <!-- Desserts -->
    <ng-container
      *ngFor="let dessert of AllRecipes.desserts"
      class="container__desserts"
    >
      <a routerLink="{{ getRecipeEndpoint(dessert.name) }}" class="link">
        <div class="container__recipe">
          <div class="container__recipe-img">
            <img
              src="{{ getImageUrl(dessert) }}"
              alt="{{ dessert.name }}."
              class="recipe-img"
            />
          </div>
          <div class="container__recipe-content">
            <h2 class="recipe-title">
              {{ dessert.name }}<span *ngIf="dessert.star"> ⭐️</span>
            </h2>
            <div class="container__small-tags">
              <div *ngIf="dessert.tags.quick" class="small-tag quick">
                <span>Quick</span>
              </div>
              <div *ngIf="dessert.tags.easy" class="small-tag easy">
                <span>Easy</span>
              </div>
              <div
                *ngIf="dessert.tags.temperature.value"
                class="small-tag temperature"
              >
                <span>Temperature</span>
              </div>
              <div *ngIf="dessert.tags.lesswash" class="small-tag lesswash">
                <span>Less wash</span>
              </div>
              <div *ngIf="dessert.tags.cheap" class="small-tag cheap">
                <span>Cheap</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </ng-container>
  </div>

  <div class="back-to-top">
    <a href="/recipes#recipes-intro">Back to the top</a>
  </div>
</main>

<app-footer id="footer"></app-footer>
